{% extends 'base.html' %}
{% block content %}
<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		{% if user.is_authenticated %}
		<h1 class="sitetitle">{{user.username.capitalize}}</h1>
		{% endif %}
		<p class="lead">
			 Talk about your taste buds and share your cooking and eating experience with us
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>All Posts</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">
		{% for post in all_post %}
		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="">
						<div class="thumbnail" style="background-image:url(./static/img/demopic/1.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="{% url 'details' post.pk %}">{{post.title}}</a></h2>
						<h4 class="card-text">{{post.body|slice:100}} <a href="{% url 'details' post.pk %}">...Read more...</a></h4>
						{% if user.is_authenticated %}
						<a href="{% url 'edit' post.pk %}">Edit</a> | <a href="{% url 'delete' post.pk %}"> Delete</a>
						{% endif %}
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href=""><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="">{{post.author}}</a></span><br/>
								<span class="post-date">{{post.pub_date}}</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					 </div> 
				</div>
			</div> 
		</div>
		<!-- end post -->
		{% endfor %}

		
{% endblock content %}

